# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo

# =========================
# Build Folders
# =========================
bin/
obj/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Node Modules
# =========================
node_modules/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Files
# =========================
appsettings.Development.json

# =========================
# Publish Folder
# =========================
publish/