# Build folders
bin/
obj/

# Visual Studio
.vs/

# User files
*.user
*.suo

# Logs
*.log

# Node modules
node_modules/

# Environment files
.env

# Uploaded files
backend/CitizenConnect.API/wwwroot/uploads/